body{
  background-color: #fff;
}
  /*-- top nav --*/
.topnav {
      overflow: hidden;
      height: 50px;
      border-bottom: 1px black solid;
}
.topnav a {
      float: left;
      display: block;
      color: gray;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      font-size: 12px;
}

.topnav a:hover {
      color: #9ADCC6;
}
.left{
	float: left;
	padding-left: 20%;
}

.right{
	float: right;
	padding-right: 20%;
}

a {
    display: block;
    font-weight:bold;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #9ADCC6;
}

 /*-- end top nav --*/
